.animals {
  float:left;
  width:30%;
   border: solid black 3px;
}
.animals p {
  padding: 20px;
  margin: 20px;
  font-family: cursive;

}

@media screen and (max-width: 1000px) {
  .animals {
    width: 300px;
    float: left;
    padding: 20px;
  }
}

@media screen and (max-width: 480px) {
  .animals {
    width: 100%;
    float: none;
    padding: 20px;
  }
}
